<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <button class="btn menu-button" type="button" (click)="menuController.toggleMenu()" [attr.aria-expanded]="!isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
            <fa-icon style="color:white" [icon]="['fas', 'bars']"></fa-icon>
        </button>

        <a routerLink="/home" class="navbar-brand">Salty Studio</a>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" *ngFor="let item of menuController.menuItems">
                    <a class="nav-link" [routerLink]="item.url">{{ item.label }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>