<div class="page-head">
    <div class="background">
        <img src="assets/images/background.jpg" alt="">
    </div>
</div>

<div class="container">
    <div class="row head-margin">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Services We Provide
                    </h5>
                    <p>Salty Studio provides mutiple services to meet your media needs</p>
                    <video-player src="assets/videos/Forest.mp4"></video-player>
                </div>
            </div>
        </div>
    </div>
</div>