<div class="page-head">
    <div class="background">
        <img src="assets/images/background.jpg" alt="">
    </div>
    
    <!-- <div class="head-content">
        <h1>Salty Studio</h1>
    </div> -->

</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        Salty Studio
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>